@model Examination.Domain.Entities.Answer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@*@{var Text = Model.Question.Text;
@Html.Raw(Text);}*@
<div>
    <h4>Answer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Text)
        </dt>
        <dd>
            @{var Text = Model.Question.Text;
              @Html.Raw(Text);
              }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnswerId }) |
    @Html.ActionLink("Back to List", "Index", new { id=Model.QuestionId})
</p>
