@model Examination.Domain.Entities.Guide

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Guide</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Text)
        </dt>

        <dd>
            @{var Text = Model.Question.Text;
            @Html.Raw(Text);
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @{var Hint = Model.Text;}
            @Html.Raw(Hint)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Reduce)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Reduce)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = (int.Parse(Session["QuestionId"].ToString())) })
        </div>
    }
</div>
