@model IEnumerable<Examination.Domain.Entities.Guide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h4>@Html.Raw(ViewBag.QuestionText)</h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Reduce)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @{var text = item.Text;}
            @Html.Raw(text)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Reduce)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GuideId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GuideId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GuideId })
        </td>
    </tr>
}

</table>
<div>
@Html.ActionLink("Questions", "Index", "QuestionNew", new { id = ViewBag.ExamId }, null)
</div>